div { 
padding: 5px;
}

.button{
    color: white;
     -fx-background-color: #44dd88;
     -fx-font-size: 14pt;
     -fx-font-family: "Helvetica";
}

.button:hover {
    -fx-background-color: #61eb9f;
}
.label{
    -fx-font-size: 14pt;
    -fx-color: white;
     -fx-font-family: "Helvetica";
}
#selection{
-fx-background-image: url("LiaoPic2.jpg");
-fx-background-image-transform: rotate(90deg);
-fx-background-repeat:stretch;
-fx-background-size: 900 506;
-fx-background-position:center center;
-fx-effect: dropshadow(three-pass-box, black, 30,0.5,0,0);
}
#nameLabel{
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
    -fx-text-decoration: underline;
}
#create{
    -fx-font-size: 12pt;
}
#back{
       -fx-font-size: 12pt;
}
